body {
  margin: 0;
  padding: 0;
  height: 100vh; 
  background: linear-gradient(45deg, yellow, darkorange, #6a11cb, #2575fc);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite; 
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* Hero */

.hero {
  position: relative;
  width: 100%;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; 
  overflow: hidden;
  padding: 0 20px; 
}

.hero-content {
  max-width: 800px; 
  padding: 20px;
}

.hero-title {
  font-size: 4rem; 
  font-weight: bold;
  margin: 0;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin: 20px 0;
}

/* Navbar */

.navbar {
  position: relative;
  z-index: 9999;
}

.logo {
  height: 70px;
  margin-left: 20px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}


.language-selector {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.language-selector .lang {
  font-size: 1rem;
  font-weight: 500;
  color: #000; 
  margin: 0 5px;
  cursor: pointer;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.language-selector .lang.active {
  text-decoration: underline; 
  color: white; 
}

.language-selector .lang:hover {
  color: white; 
}

.language-selector .separator {
  font-size: 1rem;
  font-weight: 500;
  color: #000; 
  margin: 0 5px; 
  pointer-events: none;
}


.navbar-nav .nav-link .btn {
  margin-right: 20px;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  background-color: #000;
  color: white;
  border-color: white;
}