body {
  margin: 0;
  padding: 0;
  height: 100vh; 
  background: linear-gradient(45deg, yellow, darkorange, #6a11cb, #2575fc);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite; 
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* Hero */

.hero {
  position: relative;
  width: 100%;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; 
  overflow: hidden;
  padding: 0 20px; 
}

.hero-content {
  max-width: 800px; 
  padding: 20px;
}

.hero-title {
  font-size: 4rem; 
  font-weight: bold;
  margin: 0;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin: 20px 0;
}

/* Navbar */

.navbar {
  position: fixed  !important;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  height: 80px;
  margin-left: 20px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  width: 100%;
}


.language-selector {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.language-selector .lang {
  font-size: 1rem;
  font-weight: 500;
  color: #000; 
  margin: 0 5px;
  cursor: pointer;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.language-selector .lang.active {
  text-decoration: underline; 
  color: white; 
}

.language-selector .lang:hover {
  color: white; 
}

.language-selector .separator {
  font-size: 1rem;
  font-weight: 500;
  color: #000; 
  margin: 0 5px; 
  pointer-events: none;
}


.navbar-nav .nav-link .btn {
  margin-right: 20px;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  background-color: #000;
  color: white;
  border-color: white;
}

/* Stars animation*/


.falling-stars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow:  hidden;
  pointer-events: none;
}

.falling-star {
  position: absolute;
  width: 30px; 
  height: 30px; 
  background: transparent;
  object-fit: cover;
  animation:  move-star 10s linear forwards, spin-star 2s linear infinite;
  transform-origin: center;
}

.falling-star img {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
}

@keyframes move-star {
  0% {
    transform: translate(var(--start-x), var(--start-y));
    opacity: 1;
  }
  100% {
    transform: translate(var(--end-x), var(--end-y));
    opacity: 0;
  }
}

/* Star spinning */
@keyframes spin-star {
  0% {
    transform: rotate(0deg); /* Start with no rotation */
  }
  100% {
    transform: rotate(360deg); /* Full spin */
  }
}


/* About */

#about {
  padding: 4rem 0;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4rem;
}

.custom-img {
  max-width: 300px; 
  width: 80%; 
  height: auto; 
  border-radius: 200px; 
}

.about-text {
  flex: 1;
  max-width: 50%;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.6;
}